# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = ArticleSpider.settings

[deploy:dasin1]
url = http://10.1.85.31:6800/addversion.json
project = ArticleSpider
